
.card-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0 1rem 1rem 1rem;
}

.thecard {
  display: flex;
  flex-direction: column;
  border:0px;
  justify-content: center;
  border-radius: 0px;
  width: 20rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding:0.5rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;

  &:hover {
    color: #ed1d24;
  }
 
}

.card_image {
  width: 300px;
  height: 300px;
}

.card-body {
  margin:1rem;
}

.card__title{
  font-size:20px ;
  margin:0.5rem;
}