.App {
  text-align: center;
}


.navbar__container {
  flex-direction: column;
  background-color: black;
  padding-bottom: 3rem;
  width: 100%;
  
}


.logo__marvelous{
  width: 40%;
  margin: 1rem;
  @media screen and (max-width: 768px){
    width: 90%;
  }
}