.App {
  text-align: center;
}


.header {
  flex-direction: column;
  background-image: url('../src/assets/comicbooks.jpg');
  padding: 3rem 0 3rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  
}

.header-logo {
  width: 40%;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px){
    width: 80%;
  }
}